In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import datetime
from statsmodels.formula.api import ols
from matplotlib import rc

In [10]:
import plotly.offline
import plotly.express as px

# 9

## 역 언급 수 분석을 위한 데이터 테이블

In [18]:
pd.options.display.max_colwidth = 1000

In [34]:
seoul = pd.read_excel('./역_소재구_fin_fin.xlsx')

In [20]:
# seoul.역.unique() # 240
m = ['가락시장역', '가산디지털단지역', '가양역', '강남구청역', '강남역', '강동구청역', '강동역', '강변역',
       '개롱역', '개봉역', '개화산역', '거여역', '건대입구역', '경복궁역', '경찰병원역', '고려대역',
       '고속터미널역', '공덕역', '공릉역', '공항시장역', '광운대역', '광화문역', '광흥창역', '교대역',
       '구로디지털단지역', '구로역', '구반포역', '구산역', '구역삼', '구의역', '구일역', '구파발역',
       '국회의사당역', '군자역', '굽은다리역', '금천구청역', '금호역', '길동역', '길음역', '김포공항역',
       '까치산역', '낙성대역', '남구로역', '남부터미널역', '남성역', '남영역', '내방역', '노들역',
       '노량진역', '노원역', '녹번역', '녹천역', '논현역', '답십리역', '당산역', '대림역', '대모산입구역',
       '대방역', '대청역', '대치역', '대흥역', '도곡역', '도봉산역', '도봉역', '독립문역', '독산역',
       '돌곶이역', '동대문역', '동묘앞역', '등촌역', '디지털미디어시티역', '뚝섬역', '뚝섬유원지역',
       '마곡나루역', '마곡역', '마들역', '마장역', '마포구청역', '마포역', '망우역', '망원역', '매봉역',
       '먹골역', '면목역', '명일역', '목동역', '몽촌토성역', '무악재역', '문래역', '문정역',
       '미아사거리역', '미아역', '반포역', '발산역', '방배역', '방이역', '방학역', '방화역', '보라매역',
       '보문역', '봉은사역', '봉천역', '북한산보국문역', '불광역', '사당역', '사평역', '삼각지역',
       '삼성역', '삼성중앙역', '삼양역', '삼전역', '상계역', '상도역', '상봉역', '상왕십리역', '상일동역',
       '새절역', '샛강역', '서대문역', '서울대입구역', '서울숲역', '서울역', '서초역', '석계역',
       '석촌고분역', '석촌역', '선릉역', '선유도역', '선정릉역', '성수역', '성신여대입구역', '솔샘역',
       '송정역', '송파나루역', '송파역', '수락산역', '수서역', '수유역', '숭실대입구역', '신길역',
       '신논현역', '신대방삼거리역', '신대방역', '신도림역', '신림역', '신목동역', '신반포역', '신방화역',
       '신사역', '신설동역', '신용산역', '신정네거리역', '신정역', '신촌역', '신풍역', '쌍문역',
       '아차산역', '아현역', '안국역', '암사역', '압구정로데오역', '압구정역', '애오개역', '약수역',
       '양재시민의숲역', '양재역', '양천구청역', '양천향교역', '양평역', '어린이대공원역', '언주역',
       '여의나루역', '여의도역', '역촌역', '연신내역', '염창역', '영등포구청역', '영등포시장역', '영등포역',
       '오금역', '오류동역', '오목교역', '옥수역', '온수역', '올림픽공원역', '왕십리역', '외대앞역',
       '용답역', '용두역', '용산역', '우장산역', '월계역', '월곡역', '응암역', '이대역', '이수역',
       '이촌역', '이태원역', '일원역', '잠실나루역', '잠실새내역', '잠실역', '잠원역', '장승배기역',
       '장지역', '장한평역', '제기동역', '종각역', '종합운동장역', '중계역', '중랑역', '중화역', '증미역',
       '증산역', '창동역', '창신역', '천왕역', '천호역', '청담역', '청량리역', '총신대입구역', '충무로역',
       '충정로역', '태릉입구역', '하계역', '학동역', '한성대입구역', '한성백제역', '한티역', '합정역',
       '행당역', '혜화역', '홍대입구역', '홍제역', '화계역', '화곡역', '화랑대역', '효창공원앞역',
       '효창운동장역', '흑석역']

In [21]:
rr = []
for i in m:
    rr.append(df[df.detail.str.contains(f'{i}',na=False)].shape[0])
    
print(len(rr))

240

In [35]:
seoul

            역    구
0       가락시장역  송파구
1    가산디지털단지역  금천구
2         가양역  강서구
3       강남구청역  강남구
4         강남역  강남구
..        ...  ...
235       화곡역  강서구
236      화랑대역  노원구
237    효창공원앞역  용산구
238    효창운동장역  용산구
239       흑석역  동작구

[240 rows x 2 columns]

In [37]:
seoul['역언급수'] = rr

In [38]:
seoul

            역    구  역언급수
0       가락시장역  송파구    22
1    가산디지털단지역  금천구    16
2         가양역  강서구    87
3       강남구청역  강남구    42
4         강남역  강남구   107
..        ...  ...   ...
235       화곡역  강서구    91
236      화랑대역  노원구    22
237    효창공원앞역  용산구    10
238    효창운동장역  용산구     1
239       흑석역  동작구    18

[240 rows x 3 columns]

In [39]:
seoul.구.unique()

array(['송파구', '금천구', '강서구', '강남구', '강동구', '광진구', '구로구', '종로구', '성북구',
       '서초구', '마포구', '노원구', '은평구', '영등포구', '성동구', '관악구', '동작구', '용산구',
       '도봉구', '양천구', '중랑구', '서대문구', '강북구', '중구', '동대문구'], dtype=object)

In [40]:
a = pd.DataFrame(columns=['구'],index=range(25))

In [41]:
a['구'] = seoul.구.unique()
a

       구
0    송파구
1    금천구
2    강서구
3    강남구
4    강동구
5    광진구
6    구로구
7    종로구
8    성북구
9    서초구
10   마포구
11   노원구
12   은평구
13  영등포구
14   성동구
15   관악구
16   동작구
17   용산구
18   도봉구
19   양천구
20   중랑구
21  서대문구
22   강북구
23    중구
24  동대문구

In [42]:
tt = []
for i in seoul.구.unique():
    tt.append(df[df['region_gu']==f'{i}'].shape[0])

print(tt)

[4752, 1260, 4230, 4665, 3206, 2354, 2473, 945, 2641, 4530, 3890, 2939, 3048, 3535, 2340, 3306, 2895, 1935, 1399, 2622, 2025, 2284, 1269, 778, 2100]

In [43]:
a['총매물수'] = tt
a

       구  총매물수
0    송파구  4752
1    금천구  1260
2    강서구  4230
3    강남구  4665
4    강동구  3206
5    광진구  2354
6    구로구  2473
7    종로구   945
8    성북구  2641
9    서초구  4530
10   마포구  3890
11   노원구  2939
12   은평구  3048
13  영등포구  3535
14   성동구  2340
15   관악구  3306
16   동작구  2895
17   용산구  1935
18   도봉구  1399
19   양천구  2622
20   중랑구  2025
21  서대문구  2284
22   강북구  1269
23    중구   778
24  동대문구  2100

In [44]:
seoul = pd.merge(seoul, a[['구','총매물수']], how='inner',on='구')
seoul

         역     구  역언급수  총매물수
0    가락시장역   송파구    22  4752
1    강동구청역   송파구    26  4752
2      개롱역   송파구    31  4752
3      거여역   송파구    14  4752
4    경찰병원역   송파구    20  4752
..     ...   ...   ...   ...
235   신설동역  동대문구    15  2100
236   외대앞역  동대문구     5  2100
237    용두역  동대문구     6  2100
238   제기동역  동대문구    16  2100
239   청량리역  동대문구     9  2100

[240 rows x 4 columns]

In [45]:
seoul['총매물대비역언급비율'] = seoul['역언급수']/seoul['총매물수']

In [46]:
seoul

         역     구  역언급수  총매물수  총매물대비역언급비율
0    가락시장역   송파구    22  4752    0.004630
1    강동구청역   송파구    26  4752    0.005471
2      개롱역   송파구    31  4752    0.006524
3      거여역   송파구    14  4752    0.002946
4    경찰병원역   송파구    20  4752    0.004209
..     ...   ...   ...   ...         ...
235   신설동역  동대문구    15  2100    0.007143
236   외대앞역  동대문구     5  2100    0.002381
237    용두역  동대문구     6  2100    0.002857
238   제기동역  동대문구    16  2100    0.007619
239   청량리역  동대문구     9  2100    0.004286

[240 rows x 5 columns]

# 10

## 역 언급 수 TOP15

In [47]:
seoul

         역     구  역언급수  총매물수  총매물대비역언급비율
0    가락시장역   송파구    22  4752    0.004630
1    강동구청역   송파구    26  4752    0.005471
2      개롱역   송파구    31  4752    0.006524
3      거여역   송파구    14  4752    0.002946
4    경찰병원역   송파구    20  4752    0.004209
..     ...   ...   ...   ...         ...
235   신설동역  동대문구    15  2100    0.007143
236   외대앞역  동대문구     5  2100    0.002381
237    용두역  동대문구     6  2100    0.002857
238   제기동역  동대문구    16  2100    0.007619
239   청량리역  동대문구     9  2100    0.004286

[240 rows x 5 columns]

In [49]:
seoul.sort_values('역언급수',ascending=False).head(15)

           역     구  역언급수  총매물수  총매물대비역언급비율
182      신림역   관악구   186  3306    0.056261
191      이수역   동작구   155  2895    0.053541
181   서울대입구역   관악구   149  3306    0.045070
186      사당역   동작구   124  2895    0.042832
154      대방역  영등포구   116  3535    0.032815
118      공덕역   마포구   111  3890    0.028535
41       강남역   강남구   107  4665    0.022937
84      신도림역   구로구   101  2473    0.040841
179     낙성대역   관악구   101  3306    0.030551
175     왕십리역   성동구   100  2340    0.042735
153      당산역  영등포구    96  3535    0.027157
31       발산역   강서구    92  4230    0.021749
39       화곡역   강서구    91  4230    0.021513
189  신대방삼거리역   동작구    91  2895    0.031434
28      까치산역   강서구    91  4230    0.021513

# 11

## 매물 대비 역 언급 비율 TOP15

In [50]:
seoul

         역     구  역언급수  총매물수  총매물대비역언급비율
0    가락시장역   송파구    22  4752    0.004630
1    강동구청역   송파구    26  4752    0.005471
2      개롱역   송파구    31  4752    0.006524
3      거여역   송파구    14  4752    0.002946
4    경찰병원역   송파구    20  4752    0.004209
..     ...   ...   ...   ...         ...
235   신설동역  동대문구    15  2100    0.007143
236   외대앞역  동대문구     5  2100    0.002381
237    용두역  동대문구     6  2100    0.002857
238   제기동역  동대문구    16  2100    0.007619
239   청량리역  동대문구     9  2100    0.004286

[240 rows x 5 columns]

In [51]:
seoul.sort_values('총매물대비역언급비율',ascending=False).head(15)

           역     구  역언급수  총매물수  총매물대비역언급비율
182      신림역   관악구   186  3306    0.056261
191      이수역   동작구   155  2895    0.053541
226   미아사거리역   강북구    60  1269    0.047281
230      수유역   강북구    60  1269    0.047281
181   서울대입구역   관악구   149  3306    0.045070
207      창동역   도봉구    63  1399    0.045032
186      사당역   동작구   124  2895    0.042832
175     왕십리역   성동구   100  2340    0.042735
84      신도림역   구로구   101  2473    0.040841
74       군자역   광진구    83  2354    0.035259
154      대방역  영등포구   116  3535    0.032815
206      쌍문역   도봉구    45  1399    0.032166
189  신대방삼거리역   동작구    91  2895    0.031434
179     낙성대역   관악구   101  3306    0.030551
187      상도역   동작구    88  2895    0.030397